# Application properties
**/src/main/resources/application.properties
**/src/test/resources/application.properties

# Docker
Dockerfile
docker-compose.yml

# Common Java/Maven/IDE artifacts
target/
!.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd
!.mvn/wrapper/maven-wrapper.properties
*.log
*.cache
*.diff
*.patch
*.class

# IDE specific files
.vscode/
*.iml
.idea/
*.eclipse
*.project
*.classpath

# OS specific files
.DS_Store
Thumbs.db
