# Ignore application.properties files in resources directories
**/src/main/resources/application.properties
**/src/test/resources/application.properties

# Ignore Docker related files
docker-compose.yml
Dockerfile

# Compiled Java classes
**/*.class

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven wrapper directory
.mvn/

# Maven and Gradle build directories
target/
build/

# IDE specific files
.vscode/
*.iml
*.idea/
*.eclipse
*.project
*.classpath

# OS specific files
.DS_Store
Thumbs.db
